apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: medusa-backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 9000
          
          env:
            - name: DATABASE_TYPE
              value: "postgres"
            - name: DATABASE_URL
              value: "postgres://postgres:postgres@{{ .Release.Name }}-db:5432/medusa-store"
            - name: REDIS_URL
              value: "redis://{{ .Release.Name }}-db:6379"
            - name: NODE_ENV
              value: "development"
            - name: JWT_SECRET
              value: "supersecret"
            - name: COOKIE_SECRET
              value: "supersecret"
           
            - name: ADMIN_EMAIL
              value: {{ .Values.adminUser.email | quote }}
            - name: ADMIN_PASSWORD
              value: {{ .Values.adminUser.password | quote }}

    
          command: ["/bin/sh"]
          args:
            - "-c"
            - |
              echo "1. Running Migrations..."
              npx medusa db:migrate 
              
              echo "2. Creating Admin User..."
              npx medusa user -e $ADMIN_EMAIL -p $ADMIN_PASSWORD || true
              
              echo "3. Starting Medusa Server..."
              npm start
          
          # Health Check
          livenessProbe:
            httpGet:
              path: /health
              port: 9000
            initialDelaySeconds: 120
            periodSeconds: 10
            failureThreshold: 5
          
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"